$font-color: #25477a;
$font-alternative-color: #000;
$title-color: #fb0;
$accent-color: #eb4722;
$background-color: #fcf7ef;
$background-alternative-color: #e0fbfc;

$font-red: #eb4722;
$font-orange: #ffa600;
$font-yellow: #ffe600;
$font-green: #8ac222;
$font-blue: #375e97;
$font-purple: #7c4fa1;

$fullpad: 3em;
$nopad: 0;
